<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ERRO404</title>
    </head>
    <body>

        <img src="https://freefrontend.com/assets/img/html-funny-404-pages/CodePen-404-Page.gif" usemap="#image-map">

        <map name="image-map">
            <area target="" alt="" title="" href="/" coords="541,563,661,524" shape="rect">
        </map>
    </body>
</html>